@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/progress';

.list-unstyled {
  outline: none;
  min-height: calc(100% - 100px);
}

li.tasks-list-item {
  list-style: none;
  position: relative;
  vertical-align: middle;
  padding: .5rem 0 .5rem 2.4rem;
  background-color: $white;
  cursor: pointer;

  &:before {
    display: inline-block;
    position: absolute;
    content: 'check_box_outline_blank';
    left: 8px;
    width: 1rem;
    line-height: 1;
    font-family: 'Material Icons';
    font-size: 1.5rem;
    color: $border-color;
  }

  [contenteditable] {
    display: inline-block;
    outline: none;
    width: calc(100% - 70px);
    cursor: text;
  }

  .drag-handle {
    position: absolute;
    right: 12px;
    color: $border-color;
    cursor: grab;
  }

  .delete-task {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    transition-delay: 0.25ms;
    transition: opacity 0.2s ease-in-out;
    color: $info;
  }

  &:hover:not(.cdk-drag-preview):not(.cdk-drag-placeholder) {
    .delete-task {
      opacity: 1;
    }
  }

  &.selected:not(.cdk-drag-preview) {
    background: rgba($info, .15);
    //outline: none;
    border-color: rgba($info, .15);
    z-index: 1;

    &:focus,
    &:focus-within {
      outline-style: dashed;
      outline-width: 3px;
      outline-color: $info;
    }

    &:before {
      color: $info !important;
    }

    .drag-handle {
      position: absolute;
      right: 12px;
      color: $info;
    }
  }

  &.is-done {
    &:before {
      color: $success;
      border-color: $success;
      content: 'check_box' !important;
      vertical-align: top;
    }

    .task-title {
      text-decoration: line-through;
    }
  }

  &.cdk-drag-preview {
    background: $white !important;
    cursor: grabbing;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);

    .drag-handle {
      cursor: grabbing;
    }
  }

  &.cdk-drag-placeholder {
    outline: $info 3px dashed;
    z-index: 2;
  }

  &.tasks-list-item-placeholder{
    .task-title {
      display: inline-block;
      background: $custom-select-disabled-bg;
      width: calc(100% - 50px);
    }

    cursor: default !important;

    .drag-handle {
      cursor: default;
    }
  }

  &.pending{
    @include gradient-striped(rgba($info, .05));
    animation: progress-bar-stripes $progress-bar-animation-timing;
    background-size: 1rem 1rem;
    cursor: no-drop;

    &.selected:not(.cdk-drag-preview) {
      @include gradient-striped(rgba($info, .1));
      background-size: 1rem 1rem;
    }
  }
}

.bottom-panel-placeholder,
.form-control-placeholder {
  &, .card-header{
    background: $custom-select-disabled-bg;
    border-color: $custom-select-disabled-bg !important;
  }
}

.list-is-empty {
  text-align: center;
  background: url(./assets/list-is-empty.png) no-repeat center;
  background-size: contain;
  margin: 0 auto;
  width: 50%;
  height: 300px;
}