<form *ngIf="taskList; else placeholder" (submit)="onNewTaskNameEnter($event)">
  <input #newTaskInput
         class="form-control form-control-lg mb-2"
         type="text"
         [(ngModel)]="newTaskTitle"
         [ngModelOptions]="{standalone: true}"
         placeholder="Enter new task...">

  <ng-container *ngIf="taskList?.length; else noItems">
    <div>
      <small>
        {{ leftTasksCount | i18nPlural: {
          '=0': 'All tasks are done',
          '=1': 'Last task left',
          other: '# tasks left'
        } }}
      </small>

      <div class="float-right">
        <small>
          <a>Show undone</a>
        </small>
      </div>
    </div>

    <ul #tasksList
        class="pt-2 p-0 mb-0 tasks-list list-unstyled"
        cdkDropList
        tabindex="0"
        (cdkDropListDropped)="onTaskDropped($event)"
        (focus)="onTaskListFocusIn($event)">
      <li *ngFor="let task of taskList; trackBy: trackByTasks"
          class="tasks-list-item task.pending"
          [class.is-done]="task.isDone"
          [class.is-new]="task.isNew"
          [class.is-invalid]="task.isInvalid"
          [class.selected]="isTaskSelected(task)"
          (click)="onTaskToggle($event, task)"
          (focusin)="onTaskFocusIn($event, task)"
          (input)="onTaskInput($event, task)"
          (keydown)="onTaskKeydown($event, task)"
          [attr.data-group-uid]="task.groupUid"
          matTooltip="Incorrect title or description. Task can't be saved."
          [matTooltipDisabled]="!task.isInvalid"
          matTooltipClass="text-white bg-danger lead small"
          cdkDrag>
        {{task.position}}
        <span class="task-title pr-2" [attr.contenteditable]="!task.pending" [innerHtml]="task.title"></span>
        <span *ngIf="!task.pending" class="delete-task" (click)="onTaskDelete(task)">
          <mat-icon>delete_outline</mat-icon>
        </span>
        <span *ngIf="!task.pending" class="drag-handle" cdkDragHandle>
          <mat-icon>menu</mat-icon>
        </span>
      </li>
    </ul>
    <div class="mt-1 mb-3 text-muted small">
      <small>
        <strong>↑/↓</strong> — Go to prev / next task
        &nbsp;•&nbsp;
        <strong>Shift+↑/↓</strong> — Move task up / down
        &nbsp;•&nbsp;
        <strong>Ctrl+Enter</strong> — Toggle status
        &nbsp;•&nbsp;
        <strong>Shift+Enter</strong> — Add new task at next line
        &nbsp;•&nbsp;
        <strong>Enter</strong> — Go edit task details
        &nbsp;•&nbsp;
        <strong>Ctrl+Backspace</strong> — Delete selected item
      </small>
    </div>
    <div class="card bottom-panel">
      <div class="card-header">
        <small>
          <a href="javascript:;"
             class="text-dark text-decoration-none"
             (click)="markAllAsDone();">
            <mat-icon>done_all</mat-icon>
            Complete all
          </a>
          &nbsp;
          <span class="text-muted">•</span>
          &nbsp;
          <a href="javascript:;"
             class="text-dark text-decoration-none"
             (click)="markAllAsUndone();">
            <mat-icon>check_box_outline_blank</mat-icon>
            Reset all
          </a>
          &nbsp;
          <span class="text-muted">•</span>
          &nbsp;
          <a href="#" class="text-dark text-decoration-none">
            <mat-icon>delete_outline</mat-icon>
            Clear completed
          </a>
        </small>
      </div>
    </div>

  </ng-container>

  <ng-template #noItems>
    <div class="list-is-empty">
    </div>
  </ng-template>

</form>

<!-- Placeholder while list is loading -->
<ng-template #placeholder>
  <div>
    <input #newTaskInput
           class="form-control form-control-placeholder form-control-lg mb-2"
           type="text"
           disabled>
    <div>
      <small class="text-muted">
        Tasks are loading...
      </small>
    </div>
    <ul class="pt-2 tasks-list list-unstyled">
      <li *ngFor="let task of [null, null, null, null, null, null, null, null]"
          class="tasks-list-item tasks-list-item-placeholder">
        <span class="task-title pr-2">&nbsp;</span>
        <span class="drag-handle">
          <mat-icon>menu</mat-icon>
        </span>
      </li>
    </ul>
    <div class="card bottom-panel-placeholder">
      <div class="card-header">
        &nbsp;
      </div>
    </div>
  </div>
</ng-template>
