@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@import '~froala-editor/css/froala_editor.pkgd.css';

:host {
  display: block;
}

a {
  &.text-dark:hover:not([disabled="true"]) {
    color: $info !important;
  }

  &[disabled="true"] {
    opacity: 0.5;
    cursor: not-allowed !important;
  }
}

.badge {
  transform: translateY(-2px);
}

.material-icons {
  line-height: 80%;
  vertical-align: middle;
}

.text-muted {
  opacity: 0.5 !important;
}

.btn-lg {
  .mat-icon {
    height: 21px;
  }
}

// Forms

.form-control {
  &.ng-invalid.ng-touched,
  &.ng-invalid.ng-dirty {
    border-color: $danger;
    outline-color: $danger;
    box-shadow: 0 0 0 $input-btn-focus-width rgba($form-feedback-invalid-color, .4);
  }
}

// Validation

.validation-error {
  .tooltip-inner {
    background-color: $danger;
    color: white;
  }

  &.bs-tooltip-bottom {
    .arrow::before {
      border-bottom-color: $danger;
    }
  }

  &.bs-tooltip-top {
    .arrow::before {
      border-top-color: $danger;
    }
  }

  &.bs-tooltip-right {
    left: 4px !important;
    .arrow::before {
      border-right-color: $danger;
    }
  }

  &.bs-tooltip-left {
    .arrow::before {
      border-left-color: $danger;
    }
  }
}

.mat-simple-snackbar-action {
  .mat-button {
    background: rgba($dark, 0.4);

    .mat-button-wrapper{
      color: white;
    }
  }
}

.list-unstyled {
  li {
    padding: .5rem 0;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

.navbar.navbar-expand-lg {
  @include alert-variant(theme-color-level('info', $alert-bg-level), theme-color-level('info', $alert-border-level), theme-color-level('info', $alert-color-level))
}

@-webkit-keyframes hue {
  0% {
    filter: hue-rotate(0deg);
    opacity: 0;
  }
  60% {
    filter: hue-rotate(-360deg);
    opacity: 0.9;
  }
  100% {
    filter: hue-rotate(0deg);
    opacity: 0;
  }
}