<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Todo App</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">Tasks</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           routerLink="/groups"
           routerLinkActive="active"
           id="navbarDropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Task groups
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
</nav>

<div class="ngb-toasts" *ngIf="toaster?.toasts$ | async as toasts">
  <ngb-toast
      class="bg-warning"
      *ngFor="let toast of toasts"
      [header]="toast.title"
      [autohide]="false"
      (hide)="toaster.close(toast, null)"
  >
    {{toast.text}}

    <div class="mt-2" *ngIf="toast.buttons?.length">
      <a *ngFor="let button of toast.buttons"
         href="javascript:;"
         class="mr-1 btn btn-sm btn-light btn-link"
         (click)="toaster.close(toast, button.result)">
        {{ button.title }}
      </a>
    </div>
  </ngb-toast>
</div>

<router-outlet></router-outlet>
