// Backend Services
<%=
    operationIds.map(operationId =>
        `export * from './${dasherize(operationId)}/${dasherize(operationId)}-backend.service';`
    ).join('\n')
%>
// Typings
<%= typingFiles.map(typingFile => `export * from '.${typingFile.replace(/\.ts$/, '')}';`).join('\n') %>

export * from './<%= dasherize(moduleName) %>.module';
