@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

.svg-wrapper{
  width: 300px;
  margin: 0 auto;
  margin-top: 35px;
  border-radius: 50%;
  background: rgba(250, 180, 0, 0.5);

  #no-internet-svg {
    width: 100%;
  }
}

.no-internet-text {
  width: 450px;
  margin: 40px auto 0 auto;
  text-align: center;
  color: $info;
  text-shadow: rgba(250, 180, 0, 0.5) 4px 4px;
}

.reconnect {
  color: white;

  &:hover {
    color: white;
  }
}
