@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/progress';

.group-list {
  // ...
}

::ng-deep .fr-toolbar {
  border: none;
  background: none;

  .fr-btn-grp {
    margin-left: 0;

    button {
      margin: 0 8px 0 0 !important;
      background: rgba(255, 255, 255, 0.3) !important;

      &:hover,
      &.fr-active {
        background: rgba(255, 255, 255, 1) !important;
      }
    }
  }

  .fr-dropdown {
    display: none;
  }
}

::ng-deep .fr-wrapper {
  border: none !important;
}

::ng-deep .second-toolbar {
  border-bottom: none !important;
}

::ng-deep .fr-wrapper{
  background: none !important;

  .fr-view {
    padding: 8px 0 !important;

    p:first-child,
    span:first-child {
      font-size: 32px;
    }
  }
}

.list-unstyled {
  outline: none;
  min-height: calc(100% - 100px);
}
